<%@ Master Language="C#" %>

<%@ Register src="DisplayingControls/MenuList.ascx" tagname="MenuList" tagprefix="uc1" %>

<%@ Register src="DisplayingControls/MediaListControl.ascx" tagname="MediaListControl" tagprefix="uc2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" Image from book
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script runat="server">

    protected void Page_Load(object sender, EventArgs e)
    {

    }
</script>
<html xmlns="http://www.w3.org/1999/xhtml">
           <head id="Head1" runat="server">
             <title>WILLIAMS SPECIALTY COMPANY </title>
             <asp:ContentPlaceHolder id="head" runat="server">
             </asp:ContentPlaceHolder>
           </head>
           <body>
             <form id="form1" runat="server">
               <div class="Window">
               <div class="header">
                    <div class="title">
                        <h1>
                            Williams Specialty Company
                        </h1>
                    </div>
                    <div class="loginDisplay">
                        <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                            <AnonymousTemplate>
                                [ <a href="~/Account/Login.aspx" ID="HeadLoginStatus" runat="server">Log In</a> ]
                            </AnonymousTemplate>
                            <LoggedInTemplate>
                                Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                                [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/"/> ]
                            </LoggedInTemplate>
                        </asp:LoginView>
                    </div>
                    <div class="clear hideSkiplink">
                        <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                            <Items>
                                <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Home"/>
                                <asp:MenuItem NavigateUrl="~/About.aspx" Text="About"/>
                                
                            </Items>
                        </asp:Menu>
                    </div>
                </div>

                 <div class="Main">
                   <div class="Left">
                     <div class="Container">
                         &nbsp;<uc1:MenuList ID="MenuList" runat="server" />
                       
                         <uc2:MediaListControl ID="MediaListControl" runat="server" />
                       
                     </div>
                   </div>
                   <div class="Right">
                     <div class="Header">
                       <asp:HyperLink ID="HeaderLink" 
                               ImageUrl="~/General_Images/WscWebPortal_land.gif" runat="server"
                              NavigateUrl="~/"  />
                     </div>
                     <div class="Contents">                    
                       <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                         
                       </asp:ContentPlaceHolder>
                     </div>
                   </div>
                 </div>
                </div>                              
             </form>
           </body>
           </html>
